USE [ODMS]
GO
/****** Object:  Table [dbo].[tblt_OrderStatus]    Script Date: 20-Aug-2018 9:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblt_OrderStatus](
	[OrderStatus_id] [int] NULL,
	[OrderStatus_code] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
