USE [ODMS]
GO
/****** Object:  Table [dbo].[tblm_UserLogin]    Script Date: 20-Aug-2018 9:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblm_UserLogin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Date_time_stamp] [datetime2](6) NOT NULL DEFAULT (getdate()),
	[PSR_id] [int] NOT NULL,
	[current_lat] [varchar](100) NOT NULL,
	[current_lon] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblm_UserLogin] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [Indx_tblm_UserLogin]    Script Date: 20-Aug-2018 9:45:22 PM ******/
CREATE CLUSTERED INDEX [Indx_tblm_UserLogin] ON [dbo].[tblm_UserLogin]
(
	[id] ASC,
	[Date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
