USE [ODMS]
GO
/****** Object:  StoredProcedure [dbo].[RPT_Realtime_SKUWiseOrder]    Script Date: 27-Aug-2018 3:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RPT_Realtime_SKUWiseOrder]
	@Start_Date Datetime,
	@End_Date Datetime,
	@dbids Varchar(MAX),
	@skuids Varchar(MAX)
AS
BEGIN
SELECT A.DB_Id, A.DB_Name, A.CEAREA_Name, A.AREA_Name, A.REGION_Name, A.DBCode, A.cluster,A.PSR_Code,A.Name, G.SKU_id, G.SKUName, ISNULL(B.quantity_ordered, 0) AS quantity_ordered, ISNULL(B.quantity_confirmed, 
                  0) AS quantity_confirmed, ISNULL(B.quantity_ordered_value, 0) AS quantity_ordered_value, ISNULL(B.quantity_confirmed_value, 0) AS quantity_confirmed_value, ISNULL(C.Freequantity_ordered, 0) AS Freequantity_ordered, 
                  ISNULL(C.Freequantity_confirmed, 0) AS Freequantity_confirmed
FROM     tbld_db_psr_zone_view AS A INNER JOIN
                      (SELECT DISTINCT sku_id AS skuid, bundle_price_id
                       FROM      tbld_bundle_price_details AS t1
					   where t1.SKU_id IN                      (SELECT Value
                       FROM      dbo.FunctionStringtoIntlist(@skuids, ',')
					   )) AS F ON A.PriceBuandle_id = F.bundle_price_id INNER JOIN
                  tbld_SKU AS G ON F.skuid = G.SKU_id LEFT OUTER JOIN
                      (SELECT t1.psr_id,t2.sku_id, SUM(CAST(t2.quantity_ordered AS float) / t2.Pack_size) AS quantity_ordered, SUM(t2.quantity_confirmed / t2.Pack_size) AS quantity_confirmed, SUM(t2.quantity_ordered * t2.unit_sale_price) 
                                         AS quantity_ordered_value, SUM(t2.quantity_confirmed * t2.unit_sale_price) AS quantity_confirmed_value
                       FROM      tblt_Order AS t1 INNER JOIN
                                         tblt_Order_line AS t2 ON t1.Orderid = t2.Orderid
                       WHERE   (t1.so_status <> 9) AND (t2.sku_id IN
                                             (SELECT Value
                                              FROM      dbo.FunctionStringtoIntlist(@skuids, ','))) AND (t1.db_id IN
                                             (SELECT Value
                                              FROM      dbo.FunctionStringtoIntlist(@dbids, ','))) AND (t1.planned_order_date BETWEEN @Start_Date AND @End_Date) AND (t2.sku_order_type_id = 1)
                       GROUP BY t1.psr_id,t2.sku_id) AS B ON A.PSR_id = B.psr_id AND B.sku_id = G.SKU_id LEFT OUTER JOIN
                      (SELECT t1.psr_id,t2.sku_id, SUM(CAST(t2.quantity_ordered AS float) / t2.Pack_size) AS Freequantity_ordered, SUM(t2.quantity_confirmed / t2.Pack_size) AS Freequantity_confirmed
                       FROM      tblt_Order AS t1 INNER JOIN
                                         tblt_Order_line AS t2 ON t1.Orderid = t2.Orderid
                       WHERE   (t1.so_status <> 9) AND (t2.sku_id IN
                                             (SELECT Value
                                              FROM      dbo.FunctionStringtoIntlist(@skuids, ','))) AND (t1.db_id IN
                                             (SELECT Value
                                              FROM      dbo.FunctionStringtoIntlist(@dbids, ','))) AND (t1.planned_order_date BETWEEN @Start_Date AND @End_Date) AND (t2.sku_order_type_id = 2)
                       GROUP BY t1.psr_id,t2.sku_id) AS C ON A.PSR_id = C.psr_id AND C.sku_id = G.SKU_id 
                      
WHERE  (A.DB_Id IN
                      (SELECT Value
                       FROM      dbo.FunctionStringtoIntlist(@dbids, ',')))
ORDER BY A.REGION_id, A.AREA_id, A.CEAREA_id, A.DB_Id,G.SKUsl

END

GO
